body {
    position: relative;
}

body,
h1,
h2,
h3,
h4 {
    font-weight: 400;
}

h5,
h6 {
    font-weight: 500;
}

.navbar, .navbar.navbar-default {
    background-color: #1976D2;
}

.affix {
      top: 0;
      width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }

.panel-heading {
    font-size: 1.17em;
}

.panel-footer {
    font-size: smaller;
    line-height: 25%;
}

.progress {
    height: auto;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}
/*
.material-icons {
    margin-right: 0.2em;
    position: relative;
    top: 4px;
}*/